@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes buttonPulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.request-container {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
    animation: fadeInUp 0.6s ease-out;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.request-container:hover {
    background-color: #f9f9f9;
    transform: translateY(-5px);
}

.profile-image {
    border-radius: 50%;
}

.sender-email {
    font-size: 1.125rem;
    font-weight: 500;
    flex: 1;
}

.button {
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button.accept {
    background-color: #4f46e5;
}

.button.accept:hover {
    background-color: #4338ca;
    animation: buttonPulse 0.6s infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button.deny {
    background-color: #dc2626;
}

.button.deny:hover {
    background-color: #b91c1c;
    animation: buttonPulse 0.6s infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button svg {
    color: white;
    width: 75%;
    height: 75%;
}

.no-requests-message {
    font-size: 0.875rem;
    color: #71717a;
    text-align: center;
    padding: 16px;
    animation: fadeInUp 0.6s ease-out;
}